.label{
  display: block;
  position: relative;  
}
.input{
  width: -webkit-fill-available;
  padding: 1rem;
  border-radius: 3px;
  border: 1px solid rgb(226, 224, 224);
  outline-style: rgb(226, 224, 224);
  font-size: 1rem; 
}
.valid{
  border: 1px solid #09c709fb;
  background-color: #bcf3bc;
}
.invalid{
  border: 1px solid #ff000033;
  background-color: #e28080;
}
.error{
  position: absolute;
  width: 80%;
  height: 1.5rem;
  top: -1rem;
  left: 15%;
  margin: 0 auto;
  padding-left: 0.5rem;  
  vertical-align: middle;
  line-height: 1.5rem;
  border: 1px solid #117977;
  border-radius: 4px;
  background-color: #daf5f4;
  color: #101616;
}