@use './variables' as v;

%formContainer{
  display: flex;
  min-width: 300px;
  max-width: 650px;
  flex-direction: column;
  margin: 0 auto; 
}
%pageContainer{
  width: v.$widthPageContainer;
  margin: 0 auto;
}
%formHeader{
  margin-top: 3rem;
  margin-bottom: 1.3rem;
  font-size: 1.6rem;
  font-weight: 600;
  text-transform: uppercase;
  text-align:center;
  line-height: 1.4rem;
  color:v.$lightColor;
}
%submitBtn{
  margin-top: 1rem;
  width: -webkit-fill-available;
  padding: 1rem 0.5rem;  
  border-radius: 3px;
  border: 1px solid v.$btnColor; 
  outline-style: v.$btnColor;  
  background-color: v.$btnColor;
  font-size: 1rem;
  font-weight: 600;
  color:v.$lightColor;
  cursor: pointer;
}