@import './../../../common/styles/templates';

.container{
  @extend %formContainer;
}
.inputWrapper {
  display: flex;
  min-height: 400px;
  max-height: 500px;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  @media screen and (min-width: 566px) {
    flex-direction: row;
    min-height: 220px;
    max-height: 350px;
  }
}
.addInput {
}
.addLabel {
  width: 100%;
  @media screen and (min-width: 566px) {
    width: 45%;
  }
}

.submit {  
  margin-bottom: 1rem;
  @extend %submitBtn;
  
}

// .labelWrapper {
//   margin: 0.6rem 0;
//   padding: 0.5rem;
//   border: white 1px solid;
//   border-radius: 3px;
//   font-size: 1.4rem;
//   & > label {
//     display: block;
//     cursor: pointer;
//   }
// }
// .radio {
//   margin-right: 0.5rem;
// }
// .radioSubtext {
//   font-size: 0.8rem;
//   padding-left: 1.8rem;
// }
