@import './../../../common/styles/templates';

.container{
  @extend %formContainer;
}
.inputWrapper {
  display: flex;
  min-height: 400px;
  max-height: 500px;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  @media screen and (min-width: 566px) {
    flex-direction: row;
    min-height: 220px;
    max-height: 350px;
  }
}

.addLabel {
  width: 100%;
  @media screen and (min-width: 566px) {
    width: 45%;
  }
}

.submit {  
  margin-bottom: 1rem;
  @extend %submitBtn;  
}
