

.container{
  display: flex;
  min-width: 300px;
  max-width: 650px;
  flex-direction: column;
  margin: 0 auto;
}
.inputWrapper{
  display: flex;
  min-height: 400px;
  max-height: 500px;  
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  @media screen and (min-width: 566px) {
    flex-direction: row;
    min-height: 220px;
    max-height: 350px;
  }
}
.addInput{
 
}
.addLabel{
  width: 100%;
  @media screen and (min-width: 566px) {
    width: 45%;
  }
}

.submit{
  margin-top: 1rem;
  width: -webkit-fill-available;
  padding: 1rem 0.5rem;  
  border-radius: 3px;
  border: 1px solid #28d2d0;; 
  outline-style: #28d2d0;;  
  background-color: #28d2d0;
  font-size: 1rem;
  font-weight: 600;
  text-transform: uppercase;
  color:ivory;
  cursor: pointer;
}
