.container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.link{
  display: block;
  padding: 0.3rem 0.6rem;
  border:1px solid cadetblue;
  text-decoration: none;
  margin-right: 1rem;
}