

body {
  box-sizing: border-box;
  margin: 0;  
  font-family: Gotham SSm A,Gotham SSm B,Halvetica,sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* @extend %backgroundColor; */
  background-color: #3ea9f5;
  color:ivory;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
